body {
  background-color: #FBEAEB;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.auth-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: relative;
}

.back-arrow {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  color: #2F3C7E;
  text-decoration: none;
  transition: color 0.3s ease;
}

.back-arrow:hover {
  color: #3A4A94;
}

h1 {
  color: #2F3C7E;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
  
form{
  display: flex;
  flex-direction: column;
}
  
label {
  margin-bottom: 0.5rem;
  color: #2F3C7E;
}
  
input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  
button {
  padding: 0.75rem;
  background-color: #2F3C7E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
  
button:hover {
  background-color: #3A4A94;
}
  
.error-message {
  color: #ea2b2b;
  margin-top: 1rem;
  text-align: center;
}
  
.signup-link {
  text-align: center;
  margin-top: 1rem;
}
  
.signup-link a {
  color: #2F3C7E;
  text-decoration: none;
  font-weight: bold;
}
  
.signup-link a:hover {
  text-decoration: underline;
}
  
@media (max-width: 600px) {
  .auth-container {
    margin: 1rem;
    padding: 1.5rem;
  }
}

